* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navbar */
nav {
    position: fixed !important;
    width: 100%;
}

button {
    border: none !important;
}

/* search container */
.container {
    padding: 5%;
    position: absolute;
    margin: 0 !important;
    top: 22%;
    max-width: 100% !important;
    text-align: center;
    background-image: url(../images/frontpageimg.jpeg);
}

input {
    width: 300px;
    padding: .7%;
}

.btn-submit {
    padding: .7%;
}

/* footer */
span {
    color: black;
}

footer {
    height: 25vh;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0%;
    text-align: center;
    color: white;
    padding: 5%;
}